<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>WeUI</title>
  <link rel="stylesheet" href="../stylesheets/weui.css"/>
  <link rel="stylesheet" href="../stylesheets/example.css"/> 
  <link rel="stylesheet" href="../css/style.css"/> 
      
    <script src="../js/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../js/weui.min.js"></script>

</head>
<body ontouchstart>
   <div class="container" id="container"> 
        <div class="">
              <div class="weui-msg">
                  <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                  <div class="weui-msg__text-area">
                      <h2 class="weui-msg__title">支付成功</h2>
                      <p class="weui-msg__desc">占星师马上帮你分析，请耐心等待结果。</p>
                  </div>
                  <div class="weui-msg__opr-area">
                      <p class="weui-btn-area">
                          <a href="" class="weui-btn weui-btn_primary">查看结果</a> 
                          <a href="/cece" class="weui-btn weui-btn_default">再来一次</a>
                      </p>
                  </div>
              </div>
                
          </div> 
    </div>
</body>
</html>